.todo-main {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.f-space-between {
  display: flex;
  justify-content: space-between;
}

.todo-box {
  background: white;
  border-bottom: 1px solid #D7D7D7;
  text-align: left;
  align-items: center;
  padding: 1rem;
}

.todo-form {
  margin-bottom: 2.5rem;
}

.todo-text {
  padding: 1rem;
  border: 2px solid transparent;
  border-radius: 3px;
}

.todo-list {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
}

.filter-buttons {
  display: flex;
  flex-direction: row;
}

.filter-buttons > button, .transparent-button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: 1px solid transparent;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.filter-buttons > button:hover {
  border: 1px solid lightgrey;
}

.filter-buttons > button.selected:hover {
  border: 1px solid black;
}

.filter-buttons > button.selected {
  border: 1px solid black;
}

.clear-button {
  padding-left: 0;
  padding-right: 0;
}

.clear-button:hover {
  text-decoration: underline;
}

input, span, form {
  width: 100%;
}

input:focus {
  outline: none;
}

span {
  margin-left: 0.5rem;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info-tab {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.left {
  float: left;
  width: 90px;
}

.right {
  float: right;
  width: 108px;
}

.center {
  margin: 0 auto;
  width: 160px;
  display: flex;
  justify-content: space-between;
}