.todo-main {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.center {
  display: flex;
  justify-content: center;
}

.todo-box {
  background: white;
  border-bottom: 1px solid #D7D7D7;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.todo-form {
  margin-bottom: 1.5rem;
}

.todo-text {
  padding: 1rem;
  border: 2px solid transparent;
  border-radius: 3px;
}

.todo-list-item {
  width: 250px;
  margin-right: 18.5rem;
}

.pointer {
  cursor: pointer;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

input:focus {
  outline: none;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

input {
  width: 100%;
}

